@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

$main_font: "Heebo", sans-serif;
$main_color: (linear-gradient(90deg, #766dff 0%, #88f3ff 100%));
$icon_color: #766dff;
